body, html{
	height: 100%;
	margin: 0;
}

body, html{
	display: flex;
	justify-content: center;
	align-items: center;
}

#app{
	background: black;
}

#reg{
	color: white;
	text-shadow: 2px 2px 4px #000000;
}